<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221750454980-aos1ko9il6u5pq1bf2rb7isic131kuus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221750454980-aos1ko9il6u5pq1bf2rb7isic131kuus</string>
	<key>API_KEY</key>
	<string>AIzaSyCE4ARyOcSXi5AEWH_zCYGQaLQQ_m9v60k</string>
	<key>GCM_SENDER_ID</key>
	<string>221750454980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netcompany.netcompanyOfficeTool</string>
	<key>PROJECT_ID</key>
	<string>netcompany-office-tool-db</string>
	<key>STORAGE_BUCKET</key>
	<string>netcompany-office-tool-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221750454980:ios:b497caff2ea3f72b5d7791</string>
</dict>
</plist>